.DS_Store
test/
__pycache__/
.venv/
tmp/

owl/*
camel/*

*.txt
.vscode/
log_template/

logs/
final_schedule/
experiment_output/

workspace/
init_schedule_old/
!requirements.txt
!download.txt

# output files
demo/init_schedule/
demo/generated_members/
demo/meeting_logs/
post_process_scripts/*

demo/attack_schedule/
demo/attack_logs/

output/
Chimera/
execution_logs/
Final-Output/*

https.py
!post_process/https.py

Final-Output-OpenAI/*
